<table>
	<tr>
		<th>
			&nbsp;
		</th>
		<th>
			WOEID
		</th>
		<th>
			lat/lon
		</th>
		<th>
			bbox
		</th>
		<th>
			csquare
		</th>
		<th>
			geohash
		</th>
		<th>
			Flickr results
		</th>
		
		<th>
			Oos results
		</th>
		<th>
			&nbsp;
		</th>
	</tr>
	
	<%- @tiles.each do |tile| -%>
		<tr>
			<td>
				<%= tile.id %>
			</td>
			<td>
				<%= link_to tile.woeid, "http://www.flickr.com/places/info/#{tile.woeid}" %>
			</td>
			<td>
				<%= link_to "#{tile.lat} #{tile.lon}", "http://maps.google.com/?q=#{tile.lat}+#{tile.lon}" %>
			</td>
			<td>
				[<%= tile.bbox.join(',') %>]
			</td>
			<td>
				<%= tile.csquare_code %>
			</td>
			<td>
				<%= link_to tile.geohash, "http://geohash.org/#{tile.geohash}" %>
			</td>
		
			<td>
				<%= tile.flickr_results? ? '*' : '-' %>
			</td>
			
					<td>
						<%= tile.oos_results? ? '*' : '-' %>
					</td>
			
				<td>
					<%= link_to 'Show', tile_path(tile) %>
				</td>
			
			
		</tr>
	<%- end -%>
</table>