<%- content_for :gmap_js do -%>
function initialize() {
  if (GBrowserIsCompatible()) {
    var map = new GMap2(document.getElementById("map_canvas"));

    map.setCenter(new GLatLng(<%= @tile.lat %>, <%= @tile.lon %>), 13);
    map.setUIToDefault();
		var point = true;
		
		var polygon = new GPolygon([
			<%- @tile.polygon.each do |corner| -%>
			  	new GLatLng(<%= corner[1] %>, <%= corner[0] %>),
			<%- end -%>
		  ], "#f33f00", 5, 1, "#ff0000", 0.2);
		  map.addOverlay(polygon);
		
		<%- unless @tile.flickr_results.blank? -%>
			<%- @tile.flickr_results.each do |f|  -%>
				point = new GLatLng(<%= f[:lat] %>,<%= f[:lon] %>);
				map.addOverlay(new GMarker(point));
			<%- end -%>
			
	    
		<%- end -%>
		
		<%- unless @tile.oos_results.blank? -%>
			<%- @tile.oos_results.each do |f|  -%>
				point = new GLatLng(<%= f[:lat] %>,<%= f[:lon] %>);
				map.addOverlay(new GMarker(point));
			<%- end -%>
		<%- end -%>
		
	}
}

<%- end -%>
<table>
	<tr>
		<th>
			&nbsp;
		</th>
		<th>
			WOEID
		</th>
		<th>
			lat /	lon
		</th>
		<th>
			csquare
		</th>
		<th>
			geohash
		</th>
		
		<tr>
			<td>
				<%= @tile.id %>
			</td>
			<td>
				<%= link_to @tile.woeid, "http://www.flickr.com/places/info/#{@tile.woeid}" %>
			</td>
			<td>
				<%= link_to "#{@tile.lat} #{@tile.lon}", "http://maps.google.com/?q=#{@tile.lat}+#{@tile.lon}" %>
			</td>
			<td>
				<%= @tile.csquare_code %>
			</td>
			<td>
				<%= link_to @tile.geohash, "http://geohash.org/#{@tile.geohash}" %>
			</td>
		</tr>
		
	</tr>
</table>
	
	<div id="map_canvas" style="width: 500px; height: 300px"></div>


<table id="compass">
	<tr>
		<td>
			<%= link_to 'NW', @tile.nw unless @tile.nw.nil? %>
		</td>
		<td>
			<%= link_to 'N', @tile.n unless @tile.n.nil? %>
		</td>
		<td>
			<%= link_to 'NE', @tile.ne unless @tile.ne.nil? %>
		</td>		
	</tr>
	
	<tr>
		<td>
			<%= link_to 'W', @tile.w unless @tile.w.nil? %>
		</td>
		<td>
			*
		</td>
		<td>
			<%= link_to 'E', @tile.e unless @tile.e.nil? %>
		</td>
	</tr>
	
	<tr>
			<td>
				<%= link_to 'SW', @tile.sw unless @tile.sw.nil? %>
			</td>
			<td>
				<%= link_to 'S', @tile.s unless @tile.s.nil? %>
			</td>
			<td>
				<%= link_to 'SE', @tile.se unless @tile.se.nil? %>
			</td>
	</tr>
	
	
</table>

